/target
/fiber-bundle/deploy/node-data
/fiber-bundle/nodes/*.log
/fiber-bundle/nodes/*/fiber/store
/fiber-bundle/nodes/*/fiber/store/**
fnn
store
*.log
target
./bin/*
./bin/ckb
./bin/ckb-cli
./bin/fnn